@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,200);

/*all*/
html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
[class^="col-"],[class*=" col-"] {
   padding-right: 10px;
   padding-left: 10px;
}
a[ng-click]{
    cursor: pointer;
}
.disabled{
  cursor:default !important;
}

/*jumbo*/
#main_jumbo {
  margin-top: 40px;
}
.margin20top {
  margin-top: 20px;
}

/* raw data display */
#RawDataDisplay .panel-body{
  max-height: 300px;
  overflow-y: scroll;
}
.messageIN {
  color: #3c763d;
}
.messageOUT {
  color: grey;
}

/* crouton data*/
.tab-pane {
  padding: 15px 0px;
}
.well {
  word-wrap: break-word;
}
simple-text div {
  background-color: aliceblue;
  text-align: center;
}
simple-text div h6, simple-text div p {
  color: grey;
}
