@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700,200);

/*all*/
html,
body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
[class^="col-"],[class*=" col-"] {
   padding-right: 10px;
   padding-left: 10px;
}
a[ng-click]{
    cursor: pointer;
}
.disabled{
  cursor:default !important;
}
.linkOverride{
  color:inherit;
}
.linkOverride:hover{
  color:inherit;
}
.alert{
  padding: 10px;
  margin: 15px 0px 10px 0px;
}

/*jumbo*/
#main_jumbo {
  margin-top: 40px;
}
.margin20top {
  margin-top: 20px;
}

/*crouton list*/
.closeButtonSpacing {
  padding-right: 8px;
  float: right;
  line-height: inherit;
}
.addCroutonList{
  width: 80%;
  font-size: 13px !important;
  height: 23px;
}

/* raw data display */
#RawDataDisplay .panel-body{
  max-height: 300px;
  overflow-y: scroll;
}
.messageIN {
  color: #3c763d;
}
.messageOUT {
  color: grey;
}

/* crouton data*/
.tab-pane {
  padding: 15px 0px;
}
.well {
  word-wrap: break-word;
}
.simple-text {
  background-color: aliceblue;
  text-align: center;
  padding-top: 0px;
}
.simple-text h6, .simple-text p {
  color: grey;
}
