<div ng-controller="DataDisplay">
  <accordion close-others="oneAtATime">
    <accordion-group is-open="panelOpen">
      <accordion-heading>
        <h3 class="panel-title">Crouton Dashboard</h3>
      </accordion-heading>
      <tabset>
        <tab ng-repeat="(name,json) in onlineDevices track by name" heading="{{name}}" active="tab.active" disable="tab.disabled">
          <div class="row">
            <div class="col-md-6">
              <div class='well'>Description: <b>{{json['deviceInfo']['description']}}</b></div>
            </div>
            <div class="col-md-6">
              <div class='well'>Status: <b>{{json['deviceInfo']['status']}}</b></div>
            </div>
          </div>
          <crouton-data-display-loader uitype="{{spiceJson['ui-type']}}" ng-repeat="(spiceName, spiceJson) in json['deviceInfo']['endPoints'] track by spiceName" crouton="name" spice="json['spices'][spiceName]" json="spiceJson"></crouton-data-display-loader>
        </tab>
      </tabset>
    </accordion-group>
  </accordion>
</div>
