<div class="panel panel-default" ng-controller="DataDisplay">
  <div class="panel-heading">
    <h3 class="panel-title">Crouton Dashboard</h3>
  </div>
  <div class="panel-body">
    <tabset>
      <tab ng-repeat="(name,json) in onlineDevices" heading="{{name}}" active="tab.active" disable="tab.disabled">
        <crouton-data-display-loader uitype="{{spiceJson['ui-type']}}" ng-repeat="(spiceName, spiceJson) in json['deviceInfo']['endPoints']" crouton="name" spice="json['spices'][spiceName]" json="spiceJson"></crouton-data-display-loader>
      </tab>
    </tabset>
  </div>
</div>
