<div id="connectionPanel" class="panel" ng-form name="connectionForm" ng-class="{'panel-danger': !connection.isConnected, 'panel-success': connection.isConnected}" ng-controller='ConnectionController'>
  <div class="panel-heading">
    <h3 class="panel-title">MQTT Salad Connection</h3>
    <span ng-hide="connection.isConnected">No connection</span>
    <spam ng-show="connection.isConnected">Connection successful</span>
  </div>
  <div class="panel-body">
    <div class="alert alert-warning" role="alert" ng-show="badParams">Bad parameters</div>
    <div class="input-group">
      <span class="input-group-addon">IP</span>
      <input name="ip" type="text" class="form-control" placeholder="0.0.0.0" ng-model="connectionParam.ip" ng-disabled="connection.isConnected">
    </div>
    <div class="input-group margin20top">
      <span class="input-group-addon">Port</span>
      <input name="port" type="text" class="form-control" placeholder="0000" ng-model="connectionParam.port" ng-disabled="connection.isConnected">
    </div>
    <div class="input-group margin20top">
      <span class="input-group-addon">Session MQTT ID</span>
      <input type="text" class="form-control" placeholder="crounton name" ng-model="connectionParam.clientName" ng-disabled="connection.isConnected">
    </div>
    <button type="button" class="btn btn-default pull-right margin20top" ng-hide="connection.isConnected" ng-click="connectSalad()">{{connection.connecting ? 'Connecting...' : 'Connect'}}</button>
    <button type="button" class="btn btn-default pull-right margin20top" ng-show="connection.isConnected" ng-click="disconnectSalad()">Disconnect</button>
  </div>
</div>
